CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN50I_32=y
# CONFIG_MACH_SUN50I=y
CONFIG_DRAM_CLK=792
CONFIG_DRAM_ZQ=4145117
CONFIG_DRAM_ODT_EN=y
CONFIG_DEFAULT_DEVICE_TREE="sun50i-a64-lynx"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
CONFIG_SYS_EXTRA_OPTIONS="SUNXI_GMAC"
CONFIG_SUN8I_EMAC=y
CONFIG_SPL=y
